// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    font-family: 'Montserrat', sans-serif;
}

.pt-10 {
    margin-top: -10px;
}

.searchbar {
    padding: 0 !important;
}

// Hide scrollbars

div::-webkit-scrollbar {
    border:none;
    width:0;
    background: rgba(0,0,0,0);
} 
  
div::-webkit-scrollbar-track {
    border:none;
    width:0;
    background: rgba(0,0,0,0);
}
   
div::-webkit-scrollbar-thumb {
    border:none;
    width:0;
    background: rgba(0,0,0,0);
}

.hide-item {
    display: none !important;
}

.list-ios > .item-block:first-child {
    border-top: none !important;
}


// Custom shadow

.custom-shadow {
    -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1) !important;
    box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1) !important;
}

// custom icons size

.icon-70 {
    font-size: 70px !important;;
}

.no-shadow {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.custom-width-94 {
    width: 94% !important;
}

.v-h-center {
    margin: 0 auto;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}